
.blurred-container .motto{
    color: #FFFFFF;
    font-size: 76px;
    font-weight: 600;

    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
    text-transform: uppercase;
    top: 100px;
    z-index: 3;

    display: block;
    margin: 0 auto;
    position: relative;
    width: 350px;
    height: 0;
}
.blurred-container .motto .border{
    float: left;
    border: 3px solid #FFFFFF;
    padding: 0px 30px;
    text-align: center;

}
.blurred-container .motto .no-right-border{
    border-right: none;
}

@media (max-width: 768px){
    .blurred-container .motto{
        font-size: 60px;
        width: 500px;
        top: 130px;
    }
}